# Read the data (Three different format)

In [18]:
import pandas as pd
import numpy as np

### 1. Data with same foramt

In [19]:
data_health = './data/health'
data_list = ['/Adolescent birth rate (births per 1,000 women ages 15-19).csv',
            '/Life expectancy at birth.csv',
            '/Maternal mortality ratio (deaths per 100,000 live births).csv',
            '/Mortality rate, infant (per 1,000 live births).csv',
            '/Mortality rate, under-five (per 1,000 live births).csv',
            '/Proportion of births attended by skilled health personnel (%).csv',
            '/Share of seats in parliament (% held by women).csv',
            '/Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older).csv'
            ]
# country count in each list
country = [20, 19, 19, 18, 18, 18, 24, 20]
output = dict()

In [20]:
for c, d in zip(country, data_list):
    df = pd.read_csv(data_health + d,skiprows=1)

    df.drop(columns=['HDI Rank (2018)'], inplace = True)
    df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

    # Keep only the country data
    df.drop(df.tail(c).index,inplace=True)

    df.set_index("Country", inplace = True)

    output[d] = df

### 2. Data with other format

In [21]:
data_health = './data/health'
df = pd.read_csv(data_health + '/seats_held_by_women_in_parliaments.csv')

cols = [0, 1] + list(range(3,41))
df.drop(df.columns[cols],axis=1,inplace=True)
df.drop(df.tail(5).index,inplace=True)
df.set_index("Country Name", inplace = True)

output['seats_held_by_women_in_parliaments'] = df

### 3. Happiness data

In [22]:
year = list(range(2015,2020))
country_str = ['Country', 'Country', 'Country', 'Country or region', 'Country or region']
score_str = ['Happiness Score', 'Happiness Score','Happiness.Score','Score','Score']

for y, c, s in zip(year, country_str, score_str):
    df = pd.read_csv(data_health + '/world_happiness/'+str(y)+'.csv')
    if y == 2015:
        tmp = pd.DataFrame(data = df[s])
        tmp.set_index(df[c], inplace=True)
    else:
        tmp2 = pd.DataFrame(data = df[s])
        tmp2.set_index(df[c], inplace=True)
        tmp = pd.concat([tmp, tmp2], axis = 1, sort=True)

tmp.columns = year
output['world_happiness'] = tmp

# Show the data with dictionary

In [23]:
output['/Adolescent birth rate (births per 1,000 women ages 15-19).csv']

,1990,1995,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,
Afghanistan,161.2,163.9,165.2,146.4,133.1,126.6,120.2,113.7,107.3,100.8,90.2,79.6,69.0
Albania,16.3,18.7,19.3,18.8,18.5,18.9,19.4,19.8,20.3,20.7,20.4,20.0,19.6
Algeria,33.1,24.3,14.9,9.7,9.7,10.1,10.4,10.8,11.2,11.6,11.1,10.6,10.1
Angola,222.0,213.0,202.5,192.8,181.2,178.5,175.7,172.9,170.2,167.4,161.8,156.2,150.5
Antigua and Barbuda,83.3,71.8,65.4,59.7,51.2,50.3,49.5,48.7,47.8,47.0,45.6,44.2,42.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Dominica,..,..,..,..,..,..,..,..,..,..,..,..,..
Saint Kitts and Nevis,..,..,..,..,..,..,..,..,..,..,..,..,..
Liechtenstein,..,..,..,..,..,..,..,..,..,..,..,..,..
Marshall Islands,..,..,..,..,..,..,..,..,..,..,..,..,..
Palau,..,..,..,..,..,..,..,..,..,..,..,..,..

In [24]:
output['/Life expectancy at birth.csv']

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,50.3,51.0,51.6,52.3,52.8,53.4,53.9,54.4,54.9,55.4,...,60.5,61.0,61.6,62.1,62.5,63.0,63.4,63.8,64.1,64.5
Albania,71.8,71.8,71.8,71.9,72.0,72.2,72.5,72.8,73.2,73.6,...,76.2,76.6,76.9,77.3,77.6,77.8,78.0,78.2,78.3,78.5
Algeria,66.9,67.3,67.6,67.9,68.2,68.5,68.9,69.3,69.7,70.2,...,74.6,74.9,75.2,75.4,75.7,75.9,76.1,76.3,76.5,76.7
Andorra,76.5,76.7,76.9,77.0,77.2,77.4,77.6,77.9,78.2,78.5,...,80.7,80.8,80.9,81.1,81.2,81.3,81.4,81.5,81.7,81.8
Angola,45.3,45.3,45.2,45.2,45.2,45.2,45.4,45.5,45.8,46.1,...,54.3,55.4,56.3,57.2,58.1,58.8,59.4,59.9,60.4,60.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),70.7,70.8,71.0,71.1,71.2,71.3,71.5,71.6,71.8,71.9,...,73.1,73.1,73.1,73.0,72.9,72.8,72.6,72.4,72.2,72.1
Viet Nam,70.6,70.8,71.1,71.4,71.7,71.9,72.2,72.4,72.6,72.8,...,74.7,74.8,74.9,75.0,75.0,75.1,75.1,75.2,75.2,75.3
Yemen,57.3,57.7,58.0,58.3,58.6,58.8,59.1,59.4,59.8,60.2,...,65.3,65.5,65.8,65.9,66.0,66.1,66.1,66.1,66.1,66.1
Zambia,49.2,48.1,47.0,45.9,45.0,44.2,43.7,43.5,43.4,43.6,...,54.1,55.7,57.1,58.5,59.7,60.8,61.7,62.5,63.0,63.5
Zimbabwe,58.1,56.7,55.2,53.7,52.0,50.5,49.0,47.7,46.5,45.5,...,48.4,50.6,52.9,55.0,56.9,58.4,59.5,60.3,60.8,61.2

In [25]:
output['/Maternal mortality ratio (deaths per 100,000 live births).csv']

                       1990  1995  2000 2005 2010 2011 2012 2013 2014 2015
Country
Afghanistan            1340  1270  1100  821  584  536  496  459  425  396
Albania                  71    53    43   30   30   30   30   29   29   29
Algeria                 216   192   170  148  147  147  145  144  141  140
Angola                 1160  1150   924  705  561  546  526  509  493  477
Argentina                72    63    60   58   58   56   55   54   54   52
...                     ...   ...   ...  ...  ...  ...  ...  ...  ...  ...
Saint Kitts and Nevis    ..    ..    ..   ..   ..   ..   ..   ..   ..   ..
Liechtenstein            ..    ..    ..   ..   ..   ..   ..   ..   ..   ..
Marshall Islands         ..    ..    ..   ..   ..   ..   ..   ..   ..   ..
Palau                    ..    ..    ..   ..   ..   ..   ..   ..   ..   ..
Seychelles               ..    ..    ..   ..   ..   ..   ..   ..   ..   ..

[191 rows x 10 columns]

In [26]:
output['/Mortality rate, infant (per 1,000 live births).csv']

,1990,1995,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017
Country,,,,,,,,,,,,
Afghanistan,118.8,102.2,90.2,78.4,65.6,63.2,60.9,58.7,56.7,54.9,53.2,51.5
Albania,34.8,28.5,21.8,15.4,10.7,10.1,9.5,9.0,8.6,8.3,8.1,7.8
Algeria,41.8,37.2,33.9,28.8,23.5,22.9,22.4,22.1,21.8,21.4,21.0,20.6
Andorra,7.5,5.8,4.7,4.1,3.8,3.7,3.7,3.6,3.5,3.4,3.3,3.2
Angola,132.0,131.6,122.6,101.8,76.4,71.9,67.8,64.1,60.9,58.2,55.8,53.8
...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,88.5,79.5,68.9,54.6,43.9,43.3,43.2,43.2,43.2,43.2,43.2,43.2
Zambia,110.5,107.1,96.6,66.8,53.4,51.5,49.6,48.3,46.3,44.2,43.0,41.5
Zimbabwe,50.8,58.3,58.4,59.0,55.1,52.2,48.4,45.4,42.3,40.2,38.2,36.5
"Hong Kong, China (SAR)",..,..,..,..,..,..,..,..,..,..,..,..
Liechtenstein,..,..,..,..,..,..,..,..,..,..,..,..

In [27]:
output['/Mortality rate, under-five (per 1,000 live births).csv']

,1990,1995,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017
Country,,,,,,,,,,,,
Afghanistan,175.1,147.8,128.8,110.1,90.0,86.2,82.6,79.2,76.0,73.1,70.4,67.9
Albania,40.1,32.4,24.5,17.2,12.0,11.3,10.7,10.1,9.7,9.4,9.1,8.8
Algeria,49.6,43.7,39.7,33.5,27.4,26.7,26.1,25.7,25.3,24.9,24.5,24.0
Andorra,8.5,6.3,5.0,4.3,3.9,3.9,3.8,3.7,3.6,3.5,3.4,3.3
Angola,223.5,222.7,206.3,167.8,121.3,113.2,105.8,99.2,93.6,88.9,84.6,81.1
...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,126.0,111.9,95.2,72.7,56.4,55.5,55.4,55.4,55.4,55.4,55.4,55.4
Zambia,185.0,181.8,165.1,111.6,82.4,78.6,74.9,71.6,68.0,64.9,62.4,60.0
Zimbabwe,77.5,98.0,101.8,99.6,87.5,81.2,73.8,66.8,61.1,57.0,53.3,50.3
"Hong Kong, China (SAR)",..,..,..,..,..,..,..,..,..,..,..,..
Liechtenstein,..,..,..,..,..,..,..,..,..,..,..,..

In [28]:
output['/Proportion of births attended by skilled health personnel (%).csv']

,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,
Afghanistan,..,..,34.3,38.6,39.9,..,45.2,50.5,..,53.4,58.8
Albania,99.1,99.8,..,..,..,..,..,..,..,..,99.8
Algeria,..,..,..,..,..,96.6,..,..,..,..,..
Andorra,..,..,..,..,..,..,..,100.0,100.0,100.0,..
Angola,..,..,..,..,..,..,..,..,46.6,..,..
...,...,...,...,...,...,...,...,...,...,...,...
Luxembourg,..,..,..,..,..,..,..,..,..,..,..
Netherlands,..,..,..,..,..,..,..,..,..,..,..
Papua New Guinea,..,..,..,..,..,..,..,..,..,..,..
Sweden,..,..,..,..,..,..,..,..,..,..,..
Syrian Arab Republic,..,..,..,..,..,..,..,..,..,..,..

In [29]:
output['/Share of seats in parliament (% held by women).csv']

,1995,1997,2000,2005,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,
Afghanistan,..,..,..,25.9,27.6,27.6,27.6,27.6,27.6,27.4,27.4,27.4,27.4
Albania,..,..,5.2,7.1,16.4,15.7,15.7,17.9,20.0,20.7,22.9,27.9,27.9
Algeria,3.2,3.2,4.0,5.3,7.0,7.2,25.8,25.8,25.7,25.7,25.8,21.3,21.3
Andorra,7.1,7.1,7.1,28.6,35.7,50.0,50.0,50.0,50.0,39.3,32.1,32.1,32.1
Angola,9.5,9.5,15.5,15.0,38.6,38.2,34.1,34.1,36.8,36.8,36.8,30.5,30.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,..,..,0.7,0.7,0.7,0.7,0.7,0.7,0.7,0.5,0.5,0.5,0.5
Zambia,9.7,9.7,10.1,12.7,14.0,11.5,11.5,11.5,10.8,12.7,18.0,18.0,18.0
Zimbabwe,14.7,14.7,9.3,20.8,17.9,17.9,17.9,35.1,35.1,35.1,35.1,36.2,34.3
"Hong Kong, China (SAR)",..,..,..,..,..,..,..,..,..,..,..,..,..
"Palestine, State of",..,..,..,..,..,..,..,..,..,..,..,..,..

In [30]:
output['/Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older).csv']

                                  2011  2014  2017
Country
Afghanistan                        2.6   3.8   7.2
Albania                           22.7  33.6  38.1
Algeria                           20.4  40.1  29.3
Angola                            38.9  22.3  22.3
Argentina                         31.8  50.9  50.8
...                                ...   ...   ...
Timor-Leste                         ..    ..    ..
Tonga                               ..    ..    ..
Saint Vincent and the Grenadines    ..    ..    ..
Vanuatu                             ..    ..    ..
Samoa                               ..    ..    ..

[190 rows x 3 columns]

In [31]:
output['seats_held_by_women_in_parliaments']

,1997 [YR1997],1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,..,..,..,..,..,..,..,..,27.3092369477912,27.3092369477912,...,27.710843373494,27.710843373494,27.710843373494,27.710843373494,27.710843373494,27.710843373494,27.710843373494,..,27.8688524590164,27.0161290322581
Albania,..,..,5.16129032258065,5.16129032258065,5.71428571428571,5.71428571428571,5.71428571428571,6.42857142857143,7.14285714285714,7.14285714285714,...,15.7142857142857,15.7142857142857,17.8571428571429,20,20.7142857142857,22.8571428571429,27.8571428571429,27.8571428571429,29.5081967213115,29.5081967213115
Algeria,3.15789473684211,3.15789473684211,3.15789473684211,3.42105263157895,3.42105263157895,6.16966580976864,6.16966580976864,6.16966580976864,6.16966580976864,6.16966580976864,...,7.96915167095116,31.6017316017316,31.6017316017316,31.6017316017316,31.6017316017316,31.6017316017316,25.7575757575758,25.7575757575758,25.7575757575758,25.7575757575758
American Samoa,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
Andorra,7.14285714285714,7.14285714285714,7.14285714285714,7.14285714285714,14.2857142857143,14.2857142857143,14.2857142857143,14.2857142857143,28.5714285714286,28.5714285714286,...,50,50,50,50,39.2857142857143,32.1428571428571,32.1428571428571,32.1428571428571,46.4285714285714,46.4285714285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,..,..,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
World,11.6921710616204,13.0708222318607,13.520105471325,13.9044395261034,14.0907008703619,15.1974459115988,15.1792072157607,15.897000565931,16.4745450107136,16.9696642264783,...,19.8277667259973,20.7552042977426,21.7774474410703,22.1882965165675,22.8492991579336,23.0913674246322,23.5903366743768,24.0978782716432,24.6366036865178,25.1730550676723
"Yemen, Rep.",..,0.664451827242525,0.664451827242525,0.664451827242525,0.668896321070234,0.668896321070234,0.332225913621262,0.332225913621262,0.332225913621262,0.332225913621262,...,0.332225913621262,0.332225913621262,0.332225913621262,0.332225913621262,0,0,0,0,0.332225913621262,0.332225913621262
Zambia,9.67741935483871,10.2564102564103,10.126582278481,10.126582278481,10.126582278481,12.0253164556962,12.0253164556962,12.0253164556962,12.6582278481013,14.6496815286624,...,11.4649681528662,11.4649681528662,11.4649681528662,10.7594936708861,12.6582278481013,17.9640718562874,17.9640718562874,17.9640718562874,17.9640718562874,16.7664670658683
Zimbabwe,14.6666666666667,14.6666666666667,14,9.33333333333333,10,10,10,10,16,16.6666666666667,...,14.9532710280374,14.9532710280374,31.4814814814815,31.4814814814815,31.4814814814815,31.4814814814815,32.5757575757576,31.4814814814815,31.8518518518519,31.8518518518519

In [32]:
output['world_happiness']

              2015   2016   2017   2018   2019
Afghanistan  3.575  3.360  3.794  3.632  3.203
Albania      4.959  4.655  4.644  4.586  4.719
Algeria      5.605  6.355  5.872  5.295  5.211
Angola       4.033  3.866  3.795  3.795    NaN
Argentina    6.574  6.650  6.599  6.388  6.086
...            ...    ...    ...    ...    ...
Venezuela    6.810  6.084  5.250  4.806  4.707
Vietnam      5.360  5.061  5.074  5.103  5.175
Yemen        4.077  3.724  3.593  3.355  3.380
Zambia       5.129  4.795  4.514  4.377  4.107
Zimbabwe     4.610  4.193  3.875  3.692  3.663

[170 rows x 5 columns]

# Attribute of output dictionary

In [37]:
print(output)

{'/Adolescent birth rate (births per 1,000 women ages 15-19).csv':                         1990   1995   2000   2005   2010   2011   2012   2013  \
Country
Afghanistan            161.2  163.9  165.2  146.4  133.1  126.6  120.2  113.7
Albania                 16.3   18.7   19.3   18.8   18.5   18.9   19.4   19.8
Algeria                 33.1   24.3   14.9    9.7    9.7   10.1   10.4   10.8
Angola                 222.0  213.0  202.5  192.8  181.2  178.5  175.7  172.9
Antigua and Barbuda     83.3   71.8   65.4   59.7   51.2   50.3   49.5   48.7
...                      ...    ...    ...    ...    ...    ...    ...    ...
Dominica                  ..     ..     ..     ..     ..     ..     ..     ..
Saint Kitts and Nevis     ..     ..     ..     ..     ..     ..     ..     ..
Liechtenstein             ..     ..     ..     ..     ..     ..     ..     ..
Marshall Islands          ..     ..     ..     ..     ..     ..     ..     ..
Palau                     ..     ..     ..     ..     ..     ..     ..     ..

                        2014   2015   2016   2017   2018
Country
Afghanistan            107.3  100.8   90.2   79.6   69.0
Albania                 20.3   20.7   20.4   20.0   19.6
Algeria                 11.2   11.6   11.1   10.6   10.1
Angola                 170.2  167.4  161.8  156.2  150.5
Antigua and Barbuda     47.8   47.0   45.6   44.2   42.8
...                      ...    ...    ...    ...    ...
Dominica                  ..     ..     ..     ..     ..
Saint Kitts and Nevis     ..     ..     ..     ..     ..
Liechtenstein             ..     ..     ..     ..     ..
Marshall Islands          ..     ..     ..     ..     ..
Palau                     ..     ..     ..     ..     ..

[191 rows x 13 columns], '/Life expectancy at birth.csv':                                     1990  1991  1992  1993  1994  1995  1996  \
Country
Afghanistan                         50.3  51.0  51.6  52.3  52.8  53.4  53.9
Albania                             71.8  71.8  71.8  71.9  72.0  72.2  72.5
Algeria                             66.9  67.3  67.6  67.9  68.2  68.5  68.9
Andorra                             76.5  76.7  76.9  77.0  77.2  77.4  77.6
Angola                              45.3  45.3  45.2  45.2  45.2  45.2  45.4
...                                  ...   ...   ...   ...   ...   ...   ...
Venezuela (Bolivarian Republic of)  70.7  70.8  71.0  71.1  71.2  71.3  71.5
Viet Nam                            70.6  70.8  71.1  71.4  71.7  71.9  72.2
Yemen                               57.3  57.7  58.0  58.3  58.6  58.8  59.1
Zambia                              49.2  48.1  47.0  45.9  45.0  44.2  43.7
Zimbabwe                            58.1  56.7  55.2  53.7  52.0  50.5  49.0

                                    1997  1998  1999  ...  2009  2010  2011  \
Country                                               ...
Afghanistan                         54.4  54.9  55.4  ...  60.5  61.0  61.6
Albania                             72.8  73.2  73.6  ...  76.2  76.6  76.9
Algeria                             69.3  69.7  70.2  ...  74.6  74.9  75.2
Andorra                             77.9  78.2  78.5  ...  80.7  80.8  80.9
Angola                              45.5  45.8  46.1  ...  54.3  55.4  56.3
...                                  ...   ...   ...  ...   ...   ...   ...
Venezuela (Bolivarian Republic of)  71.6  71.8  71.9  ...  73.1  73.1  73.1
Viet Nam                            72.4  72.6  72.8  ...  74.7  74.8  74.9
Yemen                               59.4  59.8  60.2  ...  65.3  65.5  65.8
Zambia                              43.5  43.4  43.6  ...  54.1  55.7  57.1
Zimbabwe                            47.7  46.5  45.5  ...  48.4  50.6  52.9

                                    2012  2013  2014  2015  2016  2017  2018
Country
Afghanistan                         62.1  62.5  63.0  63.4  63.8  64.1  64.5
Albania                             77.3  77.6  77.8  78.0  78.2  78.3  78.5
Algeria                             75.4  75.7  75.9  76.1  76.3  76.5  76.7
Andorra                             81.1  81.2  81.3  81.4  81.5  81.7  81.8
Angola                              57.2  58.1  58.8  59.4  59.9  60.4  60.8
...                                  ...   ...   ...   ...   ...   ...   ...
Venezuela (Bolivarian Republic of)  73.0  72.9  72.8  72.6  72.4  72.2  72.1
Viet Nam                            75.0  75.0  75.1  75.1  75.2  75.2  75.3
Yemen                               65.9  66.0  66.1  66.1  66.1  66.1  66.1
Zambia                              58.5  59.7  60.8  61.7  62.5  63.0  63.5
Zimbabwe                            55.0  56.9  58.4  59.5  60.3  60.8  61.2

[191 rows x 29 columns], '/Maternal mortality ratio (deaths per 100,000 live births).csv':                        1990  1995  2000 2005 2010 2011 2012 2013 2014 2015
Country
Afghanistan            1340  1270  1100  821  584  536  496  459  425  396
Albania                  71    53    43   30   30   30   30   29   29   29
Algeria                 216   192   170  148  147  147  145  144  141  140
Angola                 1160  1150   924  705  561  546  526  509  493  477
Argentina                72    63    60   58   58   56   55   54   54   52
...                     ...   ...   ...  ...  ...  ...  ...  ...  ...  ...
Saint Kitts and Nevis    ..    ..    ..   ..   ..   ..   ..   ..   ..   ..
Liechtenstein            ..    ..    ..   ..   ..   ..   ..   ..   ..   ..
Marshall Islands         ..    ..    ..   ..   ..   ..   ..   ..   ..   ..
Palau                    ..    ..    ..   ..   ..   ..   ..   ..   ..   ..
Seychelles               ..    ..    ..   ..   ..   ..   ..   ..   ..   ..

[191 rows x 10 columns], '/Mortality rate, infant (per 1,000 live births).csv':                          1990   1995   2000   2005  2010  2011  2012  2013  \
Country
Afghanistan             118.8  102.2   90.2   78.4  65.6  63.2  60.9  58.7
Albania                  34.8   28.5   21.8   15.4  10.7  10.1   9.5   9.0
Algeria                  41.8   37.2   33.9   28.8  23.5  22.9  22.4  22.1
Andorra                   7.5    5.8    4.7    4.1   3.8   3.7   3.7   3.6
Angola                  132.0  131.6  122.6  101.8  76.4  71.9  67.8  64.1
...                       ...    ...    ...    ...   ...   ...   ...   ...
Yemen                    88.5   79.5   68.9   54.6  43.9  43.3  43.2  43.2
Zambia                  110.5  107.1   96.6   66.8  53.4  51.5  49.6  48.3
Zimbabwe                 50.8   58.3   58.4   59.0  55.1  52.2  48.4  45.4
Hong Kong, China (SAR)     ..     ..     ..     ..    ..    ..    ..    ..
Liechtenstein              ..     ..     ..     ..    ..    ..    ..    ..

                        2014  2015  2016  2017
Country
Afghanistan             56.7  54.9  53.2  51.5
Albania                  8.6   8.3   8.1   7.8
Algeria                 21.8  21.4  21.0  20.6
Andorra                  3.5   3.4   3.3   3.2
Angola                  60.9  58.2  55.8  53.8
...                      ...   ...   ...   ...
Yemen                   43.2  43.2  43.2  43.2
Zambia                  46.3  44.2  43.0  41.5
Zimbabwe                42.3  40.2  38.2  36.5
Hong Kong, China (SAR)    ..    ..    ..    ..
Liechtenstein             ..    ..    ..    ..

[195 rows x 12 columns], '/Mortality rate, under-five (per 1,000 live births).csv':                          1990   1995   2000   2005   2010   2011   2012  2013  \
Country
Afghanistan             175.1  147.8  128.8  110.1   90.0   86.2   82.6  79.2
Albania                  40.1   32.4   24.5   17.2   12.0   11.3   10.7  10.1
Algeria                  49.6   43.7   39.7   33.5   27.4   26.7   26.1  25.7
Andorra                   8.5    6.3    5.0    4.3    3.9    3.9    3.8   3.7
Angola                  223.5  222.7  206.3  167.8  121.3  113.2  105.8  99.2
...                       ...    ...    ...    ...    ...    ...    ...   ...
Yemen                   126.0  111.9   95.2   72.7   56.4   55.5   55.4  55.4
Zambia                  185.0  181.8  165.1  111.6   82.4   78.6   74.9  71.6
Zimbabwe                 77.5   98.0  101.8   99.6   87.5   81.2   73.8  66.8
Hong Kong, China (SAR)     ..     ..     ..     ..     ..     ..     ..    ..
Liechtenstein              ..     ..     ..     ..     ..     ..     ..    ..

                        2014  2015  2016  2017
Country
Afghanistan             76.0  73.1  70.4  67.9
Albania                  9.7   9.4   9.1   8.8
Algeria                 25.3  24.9  24.5  24.0
Andorra                  3.6   3.5   3.4   3.3
Angola                  93.6  88.9  84.6  81.1
...                      ...   ...   ...   ...
Yemen                   55.4  55.4  55.4  55.4
Zambia                  68.0  64.9  62.4  60.0
Zimbabwe                61.1  57.0  53.3  50.3
Hong Kong, China (SAR)    ..    ..    ..    ..
Liechtenstein             ..    ..    ..    ..

[195 rows x 12 columns], '/Proportion of births attended by skilled health personnel (%).csv':                       2000  2005  2010  2011  2012  2013  2014   2015   2016  \
Country
Afghanistan             ..    ..  34.3  38.6  39.9    ..  45.2   50.5     ..
Albania               99.1  99.8    ..    ..    ..    ..    ..     ..     ..
Algeria                 ..    ..    ..    ..    ..  96.6    ..     ..     ..
Andorra                 ..    ..    ..    ..    ..    ..    ..  100.0  100.0
Angola                  ..    ..    ..    ..    ..    ..    ..     ..   46.6
...                    ...   ...   ...   ...   ...   ...   ...    ...    ...
Luxembourg              ..    ..    ..    ..    ..    ..    ..     ..     ..
Netherlands             ..    ..    ..    ..    ..    ..    ..     ..     ..
Papua New Guinea        ..    ..    ..    ..    ..    ..    ..     ..     ..
Sweden                  ..    ..    ..    ..    ..    ..    ..     ..     ..
Syrian Arab Republic    ..    ..    ..    ..    ..    ..    ..     ..     ..

                       2017  2018
Country
Afghanistan            53.4  58.8
Albania                  ..  99.8
Algeria                  ..    ..
Andorra               100.0    ..
Angola                   ..    ..
...                     ...   ...
Luxembourg               ..    ..
Netherlands              ..    ..
Papua New Guinea         ..    ..
Sweden                   ..    ..
Syrian Arab Republic     ..    ..

[191 rows x 11 columns], '/Share of seats in parliament (% held by women).csv':                         1995  1997  2000  2005  2010  2011  2012  2013  2014  \
Country
Afghanistan               ..    ..    ..  25.9  27.6  27.6  27.6  27.6  27.6
Albania                   ..    ..   5.2   7.1  16.4  15.7  15.7  17.9  20.0
Algeria                  3.2   3.2   4.0   5.3   7.0   7.2  25.8  25.8  25.7
Andorra                  7.1   7.1   7.1  28.6  35.7  50.0  50.0  50.0  50.0
Angola                   9.5   9.5  15.5  15.0  38.6  38.2  34.1  34.1  36.8
...                      ...   ...   ...   ...   ...   ...   ...   ...   ...
Yemen                     ..    ..   0.7   0.7   0.7   0.7   0.7   0.7   0.7
Zambia                   9.7   9.7  10.1  12.7  14.0  11.5  11.5  11.5  10.8
Zimbabwe                14.7  14.7   9.3  20.8  17.9  17.9  17.9  35.1  35.1
Hong Kong, China (SAR)    ..    ..    ..    ..    ..    ..    ..    ..    ..
Palestine, State of       ..    ..    ..    ..    ..    ..    ..    ..    ..

                        2015  2016  2017  2018
Country
Afghanistan             27.4  27.4  27.4  27.4
Albania                 20.7  22.9  27.9  27.9
Algeria                 25.7  25.8  21.3  21.3
Andorra                 39.3  32.1  32.1  32.1
Angola                  36.8  36.8  30.5  30.5
...                      ...   ...   ...   ...
Yemen                    0.5   0.5   0.5   0.5
Zambia                  12.7  18.0  18.0  18.0
Zimbabwe                35.1  35.1  36.2  34.3
Hong Kong, China (SAR)    ..    ..    ..    ..
Palestine, State of       ..    ..    ..    ..

[195 rows x 13 columns], '/Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older).csv':                                   2011  2014  2017
Country
Afghanistan                        2.6   3.8   7.2
Albania                           22.7  33.6  38.1
Algeria                           20.4  40.1  29.3
Angola                            38.9  22.3  22.3
Argentina                         31.8  50.9  50.8
...                                ...   ...   ...
Timor-Leste                         ..    ..    ..
Tonga                               ..    ..    ..
Saint Vincent and the Grenadines    ..    ..    ..
Vanuatu                             ..    ..    ..
Samoa                               ..    ..    ..

[190 rows x 3 columns], 'seats_held_by_women_in_parliaments':                        1997 [YR1997]      1998 [YR1998]      1999 [YR1999]  \
Country Name
Afghanistan                       ..                 ..                 ..
Albania                           ..                 ..   5.16129032258065
Algeria             3.15789473684211   3.15789473684211   3.15789473684211
American Samoa                    ..                 ..                 ..
Andorra             7.14285714285714   7.14285714285714   7.14285714285714
...                              ...                ...                ...
West Bank and Gaza                ..                 ..                 ..
World               11.6921710616204   13.0708222318607    13.520105471325
Yemen, Rep.                       ..  0.664451827242525  0.664451827242525
Zambia              9.67741935483871   10.2564102564103    10.126582278481
Zimbabwe            14.6666666666667   14.6666666666667                 14

                        2000 [YR2000]      2001 [YR2001]      2002 [YR2002]  \
Country Name
Afghanistan                        ..                 ..                 ..
Albania              5.16129032258065   5.71428571428571   5.71428571428571
Algeria              3.42105263157895   3.42105263157895   6.16966580976864
American Samoa                     ..                 ..                 ..
Andorra              7.14285714285714   14.2857142857143   14.2857142857143
...                               ...                ...                ...
West Bank and Gaza                 ..                 ..                 ..
World                13.9044395261034   14.0907008703619   15.1974459115988
Yemen, Rep.         0.664451827242525  0.668896321070234  0.668896321070234
Zambia                10.126582278481    10.126582278481   12.0253164556962
Zimbabwe             9.33333333333333                 10                 10

                        2003 [YR2003]      2004 [YR2004]      2005 [YR2005]  \
Country Name
Afghanistan                        ..                 ..   27.3092369477912
Albania              5.71428571428571   6.42857142857143   7.14285714285714
Algeria              6.16966580976864   6.16966580976864   6.16966580976864
American Samoa                     ..                 ..                 ..
Andorra              14.2857142857143   14.2857142857143   28.5714285714286
...                               ...                ...                ...
West Bank and Gaza                 ..                 ..                 ..
World                15.1792072157607    15.897000565931   16.4745450107136
Yemen, Rep.         0.332225913621262  0.332225913621262  0.332225913621262
Zambia               12.0253164556962   12.0253164556962   12.6582278481013
Zimbabwe                           10                 10                 16

                        2006 [YR2006]  ...      2011 [YR2011]  \
Country Name                           ...
Afghanistan          27.3092369477912  ...    27.710843373494
Albania              7.14285714285714  ...   15.7142857142857
Algeria              6.16966580976864  ...   7.96915167095116
American Samoa                     ..  ...                 ..
Andorra              28.5714285714286  ...                 50
...                               ...  ...                ...
West Bank and Gaza                 ..  ...                 ..
World                16.9696642264783  ...   19.8277667259973
Yemen, Rep.         0.332225913621262  ...  0.332225913621262
Zambia               14.6496815286624  ...   11.4649681528662
Zimbabwe             16.6666666666667  ...   14.9532710280374

                        2012 [YR2012]      2013 [YR2013]      2014 [YR2014]  \
Country Name
Afghanistan           27.710843373494    27.710843373494    27.710843373494
Albania              15.7142857142857   17.8571428571429                 20
Algeria              31.6017316017316   31.6017316017316   31.6017316017316
American Samoa                     ..                 ..                 ..
Andorra                            50                 50                 50
...                               ...                ...                ...
West Bank and Gaza                 ..                 ..                 ..
World                20.7552042977426   21.7774474410703   22.1882965165675
Yemen, Rep.         0.332225913621262  0.332225913621262  0.332225913621262
Zambia               11.4649681528662   11.4649681528662   10.7594936708861
Zimbabwe             14.9532710280374   31.4814814814815   31.4814814814815

                       2015 [YR2015]     2016 [YR2016]     2017 [YR2017]  \
Country Name
Afghanistan          27.710843373494   27.710843373494   27.710843373494
Albania             20.7142857142857  22.8571428571429  27.8571428571429
Algeria             31.6017316017316  31.6017316017316  25.7575757575758
American Samoa                    ..                ..                ..
Andorra             39.2857142857143  32.1428571428571  32.1428571428571
...                              ...               ...               ...
West Bank and Gaza                ..                ..                ..
World               22.8492991579336  23.0913674246322  23.5903366743768
Yemen, Rep.                        0                 0                 0
Zambia              12.6582278481013  17.9640718562874  17.9640718562874
Zimbabwe            31.4814814814815  31.4814814814815  32.5757575757576

                       2018 [YR2018]      2019 [YR2019]      2020 [YR2020]
Country Name
Afghanistan                       ..   27.8688524590164   27.0161290322581
Albania             27.8571428571429   29.5081967213115   29.5081967213115
Algeria             25.7575757575758   25.7575757575758   25.7575757575758
American Samoa                    ..                 ..                 ..
Andorra             32.1428571428571   46.4285714285714   46.4285714285714
...                              ...                ...                ...
West Bank and Gaza                ..                 ..                 ..
World               24.0978782716432   24.6366036865178   25.1730550676723
Yemen, Rep.                        0  0.332225913621262  0.332225913621262
Zambia              17.9640718562874   17.9640718562874   16.7664670658683
Zimbabwe            31.4814814814815   31.8518518518519   31.8518518518519

[263 rows x 24 columns], 'world_happiness':               2015   2016   2017   2018   2019
Afghanistan  3.575  3.360  3.794  3.632  3.203
Albania      4.959  4.655  4.644  4.586  4.719
Algeria      5.605  6.355  5.872  5.295  5.211
Angola       4.033  3.866  3.795  3.795    NaN
Argentina    6.574  6.650  6.599  6.388  6.086
...            ...    ...    ...    ...    ...
Venezuela    6.810  6.084  5.250  4.806  4.707
Vietnam      5.360  5.061  5.074  5.103  5.175
Yemen        4.077  3.724  3.593  3.355  3.380
Zambia       5.129  4.795  4.514  4.377  4.107
Zimbabwe     4.610  4.193  3.875  3.692  3.663

[170 rows x 5 columns]}

In [17]:
output.keys()

dict_keys(['/Adolescent birth rate (births per 1,000 women ages 15-19).csv', '/Life expectancy at birth.csv', '/Maternal mortality ratio (deaths per 100,000 live births).csv', '/Mortality rate, infant (per 1,000 live births).csv', '/Mortality rate, under-five (per 1,000 live births).csv', '/Proportion of births attended by skilled health personnel (%).csv', '/Share of seats in parliament (% held by women).csv', '/Women with account at financial institution or with mobile money-service provider (% of female population ages 15 and older).csv', 'seats_held_by_women_in_parliaments', 'world_happiness'])