In [5]:
import pandas as pd
import numpy as np

### Original data

In [10]:
df = pd.read_csv('./data/economy/UNdata_GDP.csv')
df

     Country or Area  Year                          Item         Value
0        Afghanistan  2018  Gross Domestic Product (GDP)  2.051388e+10
1        Afghanistan  2017  Gross Domestic Product (GDP)  2.151550e+10
2        Afghanistan  2016  Gross Domestic Product (GDP)  2.023507e+10
3        Afghanistan  2015  Gross Domestic Product (GDP)  2.060809e+10
4        Afghanistan  2014  Gross Domestic Product (GDP)  2.133066e+10
...              ...   ...                           ...           ...
9865        Zimbabwe  1974  Gross Domestic Product (GDP)  4.938099e+09
9866        Zimbabwe  1973  Gross Domestic Product (GDP)  4.103781e+09
9867        Zimbabwe  1972  Gross Domestic Product (GDP)  3.336472e+09
9868        Zimbabwe  1971  Gross Domestic Product (GDP)  2.701725e+09
9869        Zimbabwe  1970  Gross Domestic Product (GDP)  2.336518e+09

[9870 rows x 4 columns]

### Cleaned Data
index: Country Names (str)

columns: year of data (int)

In [15]:
# read csv as DataFrame data structure
df = pd.read_csv('./data/economy/UNdata_GDP.csv')

# countries: an 1D np array of all the countries (str)
countries = df['Country or Area'].drop_duplicates().values

# years: an 1D np array of all the years (int)
years = np.flip(df['Year'].drop_duplicates().values)

# GDP: an 1D np array of GDP values (int) of each countries each year
GDP = df['Value'].values

# n_countries, n_years are the # of countries and years
n_co = countries.shape[0]
n_yr = years.shape[0]

# create a DataFrame with all values as nan
dummy = np.zeros([n_co, n_yr])
dummy = np.nan
newdf = pd.DataFrame(dummy, index = countries, columns=years)

# assigning the correct GDP values to the DF
for i in range(0, GDP.shape[0]):
    i_year = df['Year'].values[i]
    i_country = df['Country or Area'].values[i]
    newdf[i_year][i_country] = GDP[i]
    
print(newdf.index)

newdf.to_csv('./data/economy/cleaned_data/cleanedGDP.csv', index = True)

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yemen: Former Democratic Yemen', 'Yemen: Former Yemen Arab Republic',
       'Zambia', 'Zimbabwe'],
      dtype='object', length=220)