In [8]:
import pandas as pd
import numpy as np

### Original data

In [84]:
df = pd.read_csv('./data/economy/UNdata_GDP.csv')
df

     Country or Area  Year                          Item         Value
0        Afghanistan  2018  Gross Domestic Product (GDP)  2.051388e+10
1        Afghanistan  2017  Gross Domestic Product (GDP)  2.151550e+10
2        Afghanistan  2016  Gross Domestic Product (GDP)  2.023507e+10
3        Afghanistan  2015  Gross Domestic Product (GDP)  2.060809e+10
4        Afghanistan  2014  Gross Domestic Product (GDP)  2.133066e+10
...              ...   ...                           ...           ...
9865        Zimbabwe  1974  Gross Domestic Product (GDP)  4.938099e+09
9866        Zimbabwe  1973  Gross Domestic Product (GDP)  4.103781e+09
9867        Zimbabwe  1972  Gross Domestic Product (GDP)  3.336472e+09
9868        Zimbabwe  1971  Gross Domestic Product (GDP)  2.701725e+09
9869        Zimbabwe  1970  Gross Domestic Product (GDP)  2.336518e+09

[9870 rows x 4 columns]

### Cleaned Data
index: Country Names (str)

columns: year of data (int)

In [85]:
# read csv as DataFrame data structure
df = pd.read_csv('./data/economy/UNdata_GDP.csv')

# countries: an 1D np array of all the countries (str)
countries = df['Country or Area'].drop_duplicates().values

# years: an 1D np array of all the years (int)
years = np.flip(df['Year'].drop_duplicates().values)

# GDP: an 1D np array of GDP values (int) of each countries each year
GDP = df['Value'].values

# n_countries, n_years are the # of countries and years
n_co = countries.shape[0]
n_yr = years.shape[0]

# create a DataFrame with all values as nan
dummy = np.zeros([n_co, n_yr])
dummy = np.nan
newdf = pd.DataFrame(dummy, index = countries, columns=years)

# assigning the correct GDP values to the DF
for i in range(0, GDP.shape[0]):
    i_year = df['Year'].values[i]
    i_country = df['Country or Area'].values[i]
    newdf[i_year][i_country] = GDP[i]
    
newdf

#newdf.to_csv(r'.\newGDP.csv')

,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Afghanistan,1.748887e+09,1.831109e+09,1.595555e+09,1.733333e+09,2.155556e+09,2.366667e+09,2.555556e+09,2.953333e+09,3.300000e+09,3.697940e+09,...,1.257260e+10,1.607792e+10,1.917047e+10,2.133087e+10,2.161037e+10,2.133066e+10,2.060809e+10,2.023507e+10,2.151550e+10,2.051388e+10
Albania,2.265577e+09,2.330585e+09,2.397526e+09,2.466543e+09,2.537016e+09,2.610110e+09,2.685746e+09,2.760746e+09,2.842276e+09,2.372306e+09,...,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138692e+10,1.186136e+10,1.302507e+10,1.505888e+10
Algeria,5.155121e+09,5.363676e+09,7.176428e+09,9.229622e+09,1.325976e+10,1.555555e+10,1.775003e+10,2.099094e+10,2.637376e+10,3.320143e+10,...,1.372110e+11,1.612073e+11,2.000191e+11,2.090591e+11,2.097550e+11,2.138100e+11,1.659791e+11,1.600342e+11,1.673899e+11,1.737575e+11
Andorra,9.947679e+07,1.131285e+08,1.435060e+08,1.908638e+08,2.360555e+08,2.785143e+08,2.875884e+08,3.213901e+08,3.897459e+08,5.207423e+08,...,3.660304e+09,3.355494e+09,3.442273e+09,3.164644e+09,3.281764e+09,3.350604e+09,2.811614e+09,2.877201e+09,3.020852e+09,3.238225e+09
Angola,3.806982e+09,4.007445e+09,4.102155e+09,5.016276e+09,5.626961e+09,4.147433e+09,3.980907e+09,4.344225e+09,4.845482e+09,5.380155e+09,...,7.030719e+10,8.379948e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011238e+11,1.221239e+11,1.059023e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.845950e+10,3.090675e+10,3.107886e+10,3.207477e+10,3.475529e+10,3.322413e+10,2.666030e+10,2.474260e+10,2.415204e+10,2.667158e+10
Yemen: Former Democratic Yemen,1.535912e+08,1.416404e+08,1.585119e+08,1.297614e+08,1.378966e+08,1.404334e+08,1.824485e+08,2.246660e+08,2.710231e+08,2.917854e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yemen: Former Yemen Arab Republic,3.983148e+08,4.714875e+08,6.869811e+08,6.241522e+08,7.582779e+08,9.245916e+08,1.017126e+09,1.172775e+09,1.300763e+09,1.440126e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zambia,1.544192e+09,1.574165e+09,1.851647e+09,2.349834e+09,2.894548e+09,2.658265e+09,2.813703e+09,2.767426e+09,3.098138e+09,3.827221e+09,...,1.532830e+10,2.026540e+10,2.448759e+10,2.484821e+10,2.658525e+10,2.669314e+10,2.085896e+10,2.145266e+10,2.586814e+10,2.728285e+10
Zimbabwe,2.336518e+09,2.701725e+09,3.336472e+09,4.103781e+09,4.938099e+09,5.420653e+09,5.357271e+09,5.410607e+09,5.413154e+09,6.421606e+09,...,9.665793e+09,1.204166e+10,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10

In [ ]:
# this function was not used
def count_countries(countries):
    # countries is a np array
    d = {}
    for item in countries:
        if item in d:
            d[item] = d[item] + 1
        else: 
            d[item] = 1
            
    df = pd.DataFrame(d.values(), index = d.keys(), columns=['count'])
    return df